* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pictureIn {
  background-color: aqua;
  padding: 10px 20px;
  text-shadow: 4px 2px 3px black;
  font-size: larger;
  border-radius: 5px;
  margin-top: 10px;
}
